body {text-align: center; 
		background: #ABC4AA;
		font-family: arial;
		}
	p {font-weight: arial}


	h1{color: red;}
	h2{color: green; font-familt: arial;}

		ul {text-align: left }
		ol {text-align: left;}
		ul{margin-left: 300px;}
		ol {margin-left: 300px;}
		ol {margin-right: 180px;}

		.frame {background: #F3DEBA; 
				padding: 25px;
				margin: 50px;
				border: dashed	5px gray;
				border-radius: 50px;
				box-shadow: 5px 5px 5px gray;
			}

		.frame2 {background: #F3DEBA;
				padding: 25px;
				margin-left: 200px;
				margin-right: 200px; 
				border: dashed 5px gray;
				border-radius: 50px; 
				box-shadow: 5px 5px 5px gray;
			}

		.circle-photo {
				border-radius: 200px;
				height: 200px;
				width: 200px;
				object-fit: cover; 
		}

		

		.frame3 { background: #F3DEBA; 
				padding: 25px;
				margin: 50px;
				border: dashed	5px gray;
				border-radius: 50px;
				box-shadow: 5px 5px 5px gray;

		}

		.content {
				display: flex;
				justify-content: space-around;
				align-items: center;
		}

		.degustez { 
				margin-right: 30px;
				display: flex;
		 }


		.my-navbar {
				display: flex;
				justify-content: space-around;
				align-items: center;
				background: #F3DEBA; 
				padding: 25px;
				margin: 50px;
				border: dashed	5px gray;
				border-radius: 50px;
				box-shadow: 5px 5px 5px gray;
		}

		.links {
				display: flex;
				justify-content: space-between;
				width: 450px;

		}